
    
    #signup_box{
    
      margin: 50px auto auto auto;
      width: 275px;
      height: auto;
      padding: 20px;
      border-top:3px solid #2d943e;
      border-bottom:3px solid #2d943e;
      
    }
    
    #title-div{

      margin: auto;

    }

    #signup_title{
    
      margin: 7px 70px;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 35px;
      letter-spacing: -0.6px;
      word-spacing: -0.4px;
      color: white;
      font-weight: 400;
      font-style: normal;
      font-variant: small-caps;
      text-transform: none;
      
    }

    #signup_form{

      margin: auto;

    }
    
   
    
    
    
    input[type = text], input[ type = password]{
    
      
      width:  250px;
      height: 30px;
      margin: 5px 2px 10px 0px;
      background-color: whitesmoke
    
    
    }

    input[type = file]{
    
      
      width:  200px;
      height: 30px;
      overflow: hidden;
      margin: 5px 2px 10px 0px;
    
    
    }
  
    #image{

      color:whitesmoke;
      margin: 10px 2px 10px 30px;
    }
  
    
   
    #have_an_account{

      font-family: "Trebuchet MS", Helvetica, sans-serif;
      color: whitesmoke;
      margin: 10px 5px 50px 40px;
    }

    a:link{

      color: #2d943e;
      text-decoration: none;
   
     }
   
     a:visited {
   
       color: #2d943e;
       text-decoration: none;
    
      }
   
      a:hover{
   
       color: whitesmoke;
       text-decoration: none;
    
      }
     
    
   

    #submit_button{

       text-align: center;
       margin-top: 0px;
    }

   
    .errorAlert{
    
      
      border: 2px solid #b21616;
    
    }

    .errorMessage{
    
      color: #b21616;
    
    }
   

    .visibleError{

      display: block;
      color: #b21616;
      
    }

    .visibleButton{

      display: block;
      
    }

    .invisibleButton{

      display: none;
      
    }
    
    .normalState{

      display: none;

    }

    .visibleOk{

      display:block;
      color: #2d943e;

    }

    
    

    