

body{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0;
  min-height: 100vh;
}
.signup-box{

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  row-gap: 5px;
  margin: 4.5rem;
  width: 40%;
  padding: 2.0rem;
  border-top:3px solid #2d943e;
  border-bottom:3px solid #2d943e;
 
}

.title-div{

  margin: 0.3rem;

}

#signup_title{

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: -0.6px;
  word-spacing: -0.4px;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;

}

#signup_form{

  text-align: center;
}


input[type = text], input[ type = password]{


  width:  60%;
  height: 30px;
  margin: 0.8rem;
  background-color: whitesmoke
  

}

input[type = file]{

 
  height: 30px;
  margin: 0.5rem auto;
  overflow: hidden;
  text-align: center;


}

.image-input-container{

  margin: 0 auto;
}

#image-input{

  color:whitesmoke;
 

  
}



#have_an_account{

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: whitesmoke;
  margin: 0 0.5rem;

}

a:link{

  color: #2d943e;
  text-decoration: none;

}

a:visited {

  color: #2d943e;
  text-decoration: none;

}

a:hover{

  color: whitesmoke;
  text-decoration: none;

}


#submit_button{

  padding: 0.5rem;
  width: 20%;

}


.errorAlert{


border: 2px solid #b21616;

}

.errorMessage{

color: #b21616;

}


.visibleError{

display: block;
color: #b21616;

}

.visibleButton{

  display: block;
  text-align: center;
  margin: 1.0rem;
}

.invisibleButton{

  display: none;
  
}

.normalState{

  display: none;

}

.visibleOk{

  display:block;
  color: #2d943e;

}

/* 1280px */

@media (min-width: 80.313rem) {

  .signup-box{

    width: 23%;
  }

}

/* 900px */

@media (min-width: 56.25rem) {

  .signup-box{

    width: 30%;
    
  }

}

/* 600px */


@media (max-width: 37.5rem){

  .signup-box{

    width: 50%;
  }

}

/* 475px */

@media (max-width: 29.875rem){

  .signup-box{

    width: 60%;
    justify-content:space-between;
  }
  
  .image-input-container{

    text-align: center;
  }


}

/*Height bigger than 900px*/

@media (min-height:50rem) {

  .signup-box{

    width: 55%;
  }

  

}

/* 1024 */

@media (min-height:64rem) {

  .signup-box{

    width: 55%;
  }

  

}

/* 1280 */

@media (min-height:80rem) {

  .signup-box{

    width: 40%;
  }

  

}