
body, h1, h2, h3, h4, h5, h6 {

   
    font-family: "Trebuchet MS", Helvetica, sans-serif ;
    color: white;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    
}

body{

    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    min-height: 100vh;

}   

i{
    display: inline-block;
    height: 1rem;
    width: 1rem;
}





.outer_container{


    position: relative;    
    margin: 2.0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 5.0rem;
    padding: 2.0rem;
    width: 100%;



}

.title_container{

    width: 100%;
    
}
.title_container h3{

    font-size: 2.0rem;

}

.help-icon{

    font-size: 0.5rem;
}

.main_container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top:2px solid #2d943e;
    border-bottom:2px solid #2d943e;
    padding: 3.0rem;
    row-gap: 20px;
    width: 80%;


}

.combo_container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    row-gap: 20px;

}




.image_chunks_container{

    width: fit-content;
    height: fit-content;

   
}
   
    
   
img{
   
    border: 5px solid #000000;
    max-width: 250px;
    max-height: 150px;
    min-height: 0;
    width: auto;
    height: auto;
   
}

.grid_container{

    border : 5px solid black;
    width: fit-content;
    height: fit-content;

}
   

.grid{

    display: grid;
    grid-template-columns: repeat(4, 50px [col-start]);
    grid-template-rows: 25% 25%;
    list-style: none;
}



.grid img{

    height: 50px;
    width: 50px;
    max-width: 300px;
    max-height: 200px;
    border : 0px
}


.button_container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
}

.button_container button{

    width: 70px;
    height: 35px;
    text-align: center;
}



/*1280px*/

@media (max-width:80rem) {

    .title_container{

        padding: 1.0rem;

    }

    .outer_container{


        padding: 2.0rem;
        margin: 2.0rem;
    
    }

    .main_container{
      
        height: 100%;
        padding: 1.0rem;
        width: 80%;
        justify-content: space-around;
        row-gap: 10px;
        
    }


    .combo_container{

        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        row-gap: 25px;
        width: 90%;


    }

    

}

/* 790px */

@media (max-width:49.375rem) {


    .main_container{

        padding: 2.0rem;
        justify-content: space-around;
    }

    .combo_container{

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;

    }

    .image_chunks_container img{

        /*keeps aspect ratio intact*/
        max-height: 40%;
        max-width: 40%;
        
    
       
    }

    .image_chunks_container{

        width: 100%;
        text-align: center;
       
    }


}

/* 500px */

@media (max-width:31.25rem) {

    .outer_container{

        margin: 0.5rem;
        row-gap: 1.0rem;
        width: 70%;
    }

    .main_container{

        padding: 3.0rem;
        justify-content: space-around;
    }
    .image_chunks_container{

        width: 100%;
        text-align: center;
       
    }

    .title_container{

        margin:0;
    }

}




/*Height bigger than 800px*/

@media (min-height:50.1rem) {

   .outer_container{

    row-gap: 1.5rem;
    
   }

   .main_container{

    row-gap: 5.0rem;


    }

   .combo_container{

    row-gap: 3.0rem;

   }


   

}

/*Height bigger than 1000px*/

@media (min-height:62.5rem) {

    .outer_container{

        row-gap: 3.0rem;
        
       }
    
       .main_container{
    
        row-gap: 7.0rem;
        padding: 2.0rem;
    
    
        }
    
       .combo_container{
    
        row-gap: 5.0rem;
    
       }
 
 }
