<body>
  <div class = "main-box"> 
    <div class = "title-box">
      <h2>Log In</h2>
    </div>
    <div class = "form-box">
      <form  [formGroup] = "logInForm"  method="post" action="/" enctype="multipart/form-data">
        <!-- usernameOrEmail input -->
        <input formControlName = "usernameOrEmail" 
            [class.error_alert] = "logInForm.get('usernameOrEmail')?.invalid && logInForm.get('usernameOrEmail')?.touched" 
            type="text"  
            placeholder ="  Username Or Email" maxlength="40">
        <!-- usernameOrEmail input validations -->
        <small  [class.normal-state] = "!logInForm.get('usernameOrEmail')?.errors?.['required'] || 
        logInForm.get('usernameOrEmail')?.untouched" class = "visible-error">Username Or Email is Required!</small>
        <small  [class.normal-state] = "!logInForm.get('usernameOrEmail')?.errors?.['isUserInputNotRegistered']"
        class = "visible-error">That is not Anyone!</small>
        <!-- password input-->
        <input formControlName = "password" 
          type="password" 
          placeholder="  Password">
        <!-- password input validations -->
        
        <small [class.normal-state] = "!logInForm.get('password')?.errors?.['isPasswordIncorrect']"
        class = visible-error>Password is Incorrect!</small>
        <!-- Submit Button -->
  
        <div [class.invisible-] =
        "(logInForm.get('usernameOrEmail')?.errors != null)
        || (logInForm.get('password')?.value === null)||
        ((logInForm.get('usernameOrEmail')?.value === null))"
        class = visible-button >
          <button  type="submit" id = "submit_button" (click)="onSubmit($event)" >Next</button>
        </div>
  
      <!-- Link to Register -->
      <div class = "new-user-container">
        <label id = "new_user"> New? </label><a routerLink="../sign-up" target="_blank">Create an Account!</a> 
      </div>
      </form>

    </div>
  </div>    
</body>
  
  