/* You can add global styles to this file, and also import other style files */
html{
  
  background:  #1b1b1b;
  height: 100vh;
  width: 100vw;  
  overflow-x: hidden;

}


body{

  height: 100vh;
  padding: 0;
  margin: 0;
}


button {

  transition-duration: 0.2s;
  background-color: #4CAF50; 
  color: white;
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  border-radius: 2px;

    
  }
  
  button:hover {

  background-color: white; 
  color: #4CAF50;
    
  }



